
* {
    background-color: beige;
}

h1 {
    display: flex;
    justify-content: center;
}

.sopas-img {
    width: auto;
    height: 300px;

    display: flex;
    justify-content: center;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    inline-size: 500px;
    overflow-wrap: break-word;
    text-align: justify;

    margin: 0 auto;
}

.ingredients {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.ingredients-list {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
}

.steps {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.steps-list {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
}

.index-link {
    display: flex;
    justify-content: center;
}