
* {
    background-color: beige;
}

.img1 {
    width: auto;
    height: 250px;

    display: flex;
    justify-content: center;

}

.list1 {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}